<div ng-app="CRMApp" class="" ng-controller="SignupPackageController">
    <div class="container-fluid top_header">
        <div class="container"><img src="/Content/images/main_logo2.png" alt="CRM-logo" border="0"></div>
    </div>
    <div class="container-fluid">
        <div class="container main_box">



            <div class="code-module">
                <h1><i class="fa fa-th-list"></i> MEMBERSHIP PLANS</h1>
                <h3>Select a Social CRM Plan that best suits your needs.</h3>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" >

                        <!-- PRICE ITEM -->
                        <div class="panel price panel-blue">
                            <div class="panel-heading arrow_box text-center">
                                <h3>KE Media CRM</h3>
                            </div>
                            <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-primary" href="#/Media/Login" style="font-size:0.9em !important">SELECT</a>
                            </div>
                        </div>
                        <!-- /PRICE ITEM -->


                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

                        <!-- PRICE ITEM -->
                        <div class="panel price panel-blue">
                            <div class="panel-heading arrow_box text-center">
                                <h3>KE CallCenter CRM</h3>
                            </div>
                            <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-primary" href="#/CallCenter/Login" style="font-size:0.9em !important">SELECT</a>
                            </div>
                        </div>
                        <!-- /PRICE ITEM -->


                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

                        <!-- PRICE ITEM -->
                        <div class="panel price panel-blue">
                            <div class="panel-heading arrow_box text-center">
                                <h3>KE Executive CRM</h3>
                            </div>
                            <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-primary" href="#/Executive/Login" style="font-size:0.9em !important">SELECT</a>
                            </div>
                        </div>
                        <!-- /PRICE ITEM -->


                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

                        <!-- PRICE ITEM -->
                        <div class="panel price panel-blue">
                            <div class="panel-heading arrow_box text-center">
                                <h3>Insight 360 Social CRM</h3>
                            </div>
                            <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-primary" href="http://localhost:2566/#/Login" style="font-size:0.9em !important">SELECT</a>
                            </div>
                        </div>
                        <!-- /PRICE ITEM -->


                    </div>
                </div>
            </div>


        </div>
        <div class="container footer_box">© 2016, All Rights Reserved.</div>
    </div>
    </div>
    <script type="text/javascript">

        $("head").append($("<link href='/Content/css/signup_styles.css' rel='stylesheet' />"));

    </script>
