<style>
    .date-picker {
        position: absolute;
        bottom: 20px;
        right: 20px;
        top: auto;
        cursor: pointer;
    }

    .btn-default {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: bottom;
    }

    .truncate-item {
        max-width: 145px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    .inboxTag {
        position: relative;
        margin-right: 2px;
        display: inline-block;
        padding: 2px 12px 3px 5px;
        background-color: #6e889c;
        color: #ffffff;
    }

    .inboxTag:hover .showCross {
        display: inline;
        position: absolute;
        right: -4px;
        top: 5px;
        width: 15px;
        height: 15px;
    }

    .halfOpacity{
        opacity: 0.5;
    }

    .halfOpacity:hover{
        opacity: 1;
        border: solid 1px #ffffff;
    }

    .fullOpacity{
        opacity: 1;
        border: solid 1px #ffffff;        
    }
</style>
<div class="wrapper">
    <div ui-view="Header"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height:650px !important;" ng-app="CRMApp" ng-controller="MediaController as ctrl">
        <!-- header starts here -->
        <div class="container-fluid page_name">
            <div class="col-sm-10"><i class="fa fa-flag"></i> Media News</div>
        </div>
        <!-- header ends here -->
        <div class="container-fluid padding_set">

            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <div class="col-sm-12 zro"><i class="fa fa-bullhorn"></i> MEDIA FORM DETAILS</div>
                    </div>
                    <div class="box-body">
                        <div class="box-body no-padding">
                            <span style="color:red;margin-left: 15px;" ng-show="errorMsg.length > 0">{{errorMsg}}</span>
                            <div class="col-md-12">
                                <div class="col-md-3 col-xs-12 zro_left2 " title="Select Media Type">
                                    <div id="multisel" style="">
                                        <!--<div class='sel_menu' ng-dropdown-multiselect1="" events="mediaEventListeners" options="MediaTypeList"
                                             selected-model="mediaType" checkboxes="true" translation-texts="example5customTexts"
                                             extra-settings="groupsettings">
                                        </div>-->
                                        <br />
                                        <div class='sel_menu' disabled="Id > 0" ng-dropdown-multiselect="" options="MediaTypeList" events="mediaEventListeners" selected-model="mediaType"
                                             translation-texts="example5customTextsMediaType" extra-settings="singleSelectSettings"></div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-12 zro_left2" title="Select News Type">
                                    <div id="multisel" style="">
                                        <!--<div class='sel_menu' ng-dropdown-multiselect1="" options="NewsTypeList"
                                             selected-model="newsType" checkboxes="true" translation-texts="example5customTexts"
                                             extra-settings="groupsettings">--><br />
                                        <div class='sel_menu' disabled="!fullEdit && mediaType.id != 3" ng-dropdown-multiselect="" options="NewsTypeList" events="newsEventListeners" selected-model="newsType"
                                             translation-texts="example5customTextsNewsType" extra-settings="singleSelectSettings"></div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12 zro_left2" title="Select Channel">
                                    <div id="multisel" style="">
                                        <!--<div class='sel_menu' ng-dropdown-multiselect1=""  options="ChannelsList"
                                             selected-model="ChanSelect" checkboxes="true" translation-texts="example5customTexts"
                                             extra-settings="groupsettings">
                                        </div>--><br />
                                        <div class='sel_menu' disabled="!fullEdit && mediaType.id != 3" ng-dropdown-multiselect="" options="ChannelsList" selected-model="ChanSelect"
                                             translation-texts="example5customTextsChannel" extra-settings="singleSelectSettings"></div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12 zro_left2 " title="Select Relevance">
                                    <div id="multisel" style="">
                                        <br />
                                        <div class='sel_menu' disabled="!fullEdit && mediaType.id != 3" ng-dropdown-multiselect="" options="NewsRelatedToList" selected-model="newsRelatedTo"
                                             translation-texts="example5customTextsNewsRelatedTo" extra-settings="singleSelectSettings"></div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12 zro_left2" title="Select City" ng-show="mediaType.id == '1' || mediaType.id == '2'">
                                    <div id="multisel" style="">

                                        <!--<div class='sel_menu' ng-dropdown-multiselect1="" options="CitiesList"
                                             selected-model="citySelect" checkboxes="true" translation-texts="example5customTexts"
                                             extra-settings="groupsettings">
                                        </div>--><br />
                                        <div class='sel_menu' disabled="!fullEdit && mediaType.id != 3" ng-dropdown-multiselect="" options="CitiesList" selected-model="citySelect"
                                             translation-texts="example5customTextsCity" extra-settings="singleSelectSettings"></div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12 zro_left2" title="Select Categories">
                                    <div id="multisel">
                                        <br />
                                        <!--<div class='sel_menu' ng-dropdown-multiselect="" options="CategoriesList" selected-model="CategoryModel"
                                        checkboxes="true" translation-texts="example5customTexts"></div>-->
                                        <div class='sel_menu' ng-dropdown-multiselect="" options="CategoriesList" selected-model="CategoryModel" translation-texts="example5customTextsCategories"
                                             extra-settings="multiSelectSettings"></div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12 zro_left2" title="Select Sentiment">
                                    <div id="multisel">
                                        <!--<div class='sel_menu' ng-dropdown-multiselect1="" options="SentimentsList"
                                             selected-model="sentimentSelect" checkboxes="true" translation-texts="example5customTexts"
                                             extra-settings="groupsettings">
                                        </div>-->
                                        <br />
                                        <div class='sel_menu' disabled="!fullEdit && mediaType.id != 3" ng-dropdown-multiselect="" options="SentimentsList" selected-model="sentimentSelect"
                                             translation-texts="example5customTextsSentiment" extra-settings="singleSelectSettings"></div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12 zro_left2" title="Select Date">
                                    <div id="multisel">
                                        Date<br>
                                        <input type="text" ng-disabled="!fullEdit && mediaType.id != 3" id="mediadatepicker" class="form-control sel_menu" style="height: 30px;" placeholder="Select Date" ng-model="NewsDate">
                                        <i class="fa fa-calendar date-picker" style="bottom: 13px;"></i>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12 zro_left2" title="Select Time" ng-show="mediaType.id != '3'">
                                    <div id="multisel">
                                        Time<br>
                                        <input type="text" ng-disabled="!fullEdit && mediaType.id != 3" class="form-control sel_menu" ng-focus="ctrl.openCalendar($event, 'picker2')" datetime-picker="HH:mm" ng-model="NewsTime" is-open="ctrl.picker2.open" enable-date="false" timepicker-options="ctrl.picker2.timepickerOptions" button-bar="ctrl.picker2.buttonBar" close-on-selection="true" style="height: 30px;"/>
                                        <i class="fa fa-clock-o date-picker" style="bottom: 13px;"></i>
                                    </div>
                                </div>


                                <div class="col-md-3 col-xs-12 zro_left2" title="Select Subject" ng-show="mediaType.id != '3'">
                                    <div id="multisel" style="margin-bottom:10px !important;">
                                        Subject<br>
                                        <input type="text" ng-disabled="!fullEdit && mediaType.id != 3" placeholder="Enter Subject" class="form-control sel_menu" ng-model="Subject" style="height: 30px;" />
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12 zro_left2" title="Select Repeatition" ng-show="mediaType.id != '3'">
                                    <div id="multisel" style="margin-bottom:10px !important;">
                                        No. of Repetition<br>
                                        <input type="number" placeholder="Enter Repetition" class="form-control sel_menu" ng-model="Repeatition" style="height: 30px;" />
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12 zro_left2" title="Page Number" ng-show="mediaType.id != '1' && mediaType.id != '2'">
                                    <div id="multisel" style="margin-bottom:10px !important;">
                                        Page Number<br>
                                        <input type="text" placeholder="Enter Page Number" class="form-control sel_menu" ng-model="PageNumber" style="height: 30px;" />
                                    </div>
                                </div>

                                <div class="col-md-2 col-xs-12 zro_left2" ng-show="mediaType.id != '1' && mediaType.id != '2'">
                                    <div id="multisel" style="margin-bottom:10px !important;">
                                        Cols No.<br>
                                        <input type="number" ng-blur="CalculatePRValue()" class="form-control sel_menu" style="height: 30px;" placeholder="Enter Col No." ng-model="ColumnNumber">
                                    </div>
                                </div>

                                <div class="col-md-2 col-xs-12 zro_left2" ng-show="mediaType.id != '1' && mediaType.id != '2'">
                                    <div id="multisel" style="margin-bottom:10px !important;">
                                        Column Height<br>
                                        <input type="number" ng-blur="CalculatePRValue()" class="form-control sel_menu" style="height: 30px;" placeholder="Enter Col. Height" ng-model="ColumnHeight">
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 zro_left2" ng-show="mediaType.id != '1' && mediaType.id != '2'">
                                    <div id="multisel" style="margin-bottom:10px !important;">
                                        Advertising Rate<br>
                                        <input type="text" ng-blur="CalculatePRValue()" class="form-control sel_menu" style="height: 30px;" placeholder="Enter Rate" ng-model="AdvertisingRate">
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-12 zro_left2" ng-show="mediaType.id != '1' && mediaType.id != '2'">
                                    <div id="multisel" style="margin-bottom:10px !important;">
                                        Multiplier<br>
                                        <input type="number" class="form-control sel_menu" ng-disabled="true" ng-model="Multiplier" style="height: 30px;" placeholder="" value="3" ng-show="true">
                                    </div>
                                </div>
                                <div class="col-md-2 zro_left2 col-xs-12" ng-show="mediaType.id != '1' && mediaType.id != '2'">
                                    <div id="multisel" style="margin-bottom:10px !important;">
                                        PR Value<br>
                                        <input type="text" class="form-control sel_menu" ng-model="PrValue" style="height: 30px;" placeholder="Enter PR Value">
                                    </div>
                                </div>

                                <div class="col-md-2 zro_left2 col-xs-12" title="KE Activity">  
                                    <div id="multisel" style="margin-bottom:10px !important;">    
                                        <br/>
                                        <label ng-click="toggleKEActivity()"
                                               ng-class="IsKEActivity == true ? 'inboxTag active fullOpacity' : 'inboxTag halfOpacity'"
                                               style="background-color:#f48631; color:white; height:30px; padding-top: 7px; padding-left: 13px;">
                                            KE Activity
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-12 col-xs-12 zro_left2" title="Select News Type" ng-show="mediaType.id != '3'">
                                    <div id="multisel" style="margin-bottom:10px !important;">
                                        Script<br>
                                        <textarea placeholder="Enter Script" ng-disabled="!fullEdit && mediaType.id != 3" class="form-control sel_menu" rows="5" id="comment" ng-model="Script"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-3 col-xs-12 zro_left2" title="Select News Type" ng-show="mediaType.id != '1' && mediaType.id != '2'">
                                    <div id="multisel" style="margin-bottom:10px !important;">
                                        <div class="zro_left">
                                            Clipping Upload<br>
                                        </div>
                                        <img ng-if="base64String != ''" src="{{base64String}}" alt="{{fileName}}" width="50" height="50" style="display:inline;margin:0px 5px;border:2px solid black;" />
                                        <label class="custom-upload2">
                                            <input type="file" name="upload_file" onchange="angular.element(this).scope().SetFileName()" ng-model="ClippingUpload" />Browse
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div style="margin-left:15px">
                <button type="button" ng-click="SubmitMediaForm()" class="btn btn-primary button_round  btn_height3">SUBMIT RECORD</button>
                <button type="button" ng-show="mediaType.id == '3'" ng-click="BackToDashboard()" class="btn btn-primary button_round btn_height3">VIEW RECORDS</button>
                <button type="button" ng-click="RestMediaForm()" class="btn btn-cancel button_round  btn_height3" ng-show="Id == 0">RESET</button>
                <button type="button" ng-click="EnableEditFullForm()" class="btn btn-cancel button_round  btn_height3" ng-hide="fullEdit || mediaType.id == 3">ENABLE FULL FORM EDIT</button>
            </div>
        </div><!-- /.box -->

    </div>
</div>
<!-- Main content -->
<div ui-view="Footer"></div>
<script src='../../../Content/js/autosize.js'></script>
<script>
    $(document).ready(function () {
        currentDate = new Date();
        $('#mediadatepicker').daterangepicker({ minDate: moment().subtract(5, "years"), maxDate: moment(), singleDatePicker: true, timePicker: false, locale: { format: 'DD/MM/YYYY' }, "setDate": currentDate });

        //$('#SchedularDateRange').daterangepicker({
        //    "drops": "up", singleDatePicker: false, timePicker: true, minDate: currentDate, locale: { format: 'DD/MM/YYYY h:mm A' }, "dateLimit": { "days": 7 }, "startDate": currentDate
        //});
    });
    autosize(document.querySelectorAll('textarea'));
</script>