<div ng-app="CRMApp" class="" ng-controller="ResetPasswordController">
    <script src="/Content/js/captcha.js"></script>

    <div class="container-fluid top_header">
        <div class="container"><img src="/Content/images/main_logo2.png" alt="CRM-logo" border="0"></div>
    </div>
    <div class="container-fluid">
        <div class="container main_box">

            <form name="myForm">
                <div class="code-module effects" id="effects">
                    <h1><i class="fa fa-lock"></i> RESET PASSWORD</h1>

                    <input type="email" class="form-control input_border_min input_login_h style_320" ng-model="Email" name="Email" required placeholder="Enter E-mail ID" aria-describedby="sizing-addon2">

                    <p class="warnings_p warnings_p2_320" ng-show="myForm.Email.$error.email">Not a valid e-mail address</p>
                    <p class="warnings_p warnings_p2_320" ng-show="myForm.Email.$touched && myForm.Email.$invalid && !myForm.Email.$error.email">Email cannot be empty</p>

                    <div class="style_320 captcha_style" id="captcha">Security Code: </div>
                    <input type="text" class="form-control input_border_min input_login_h style_320" maxlength="4" size="4" ng-model="CaptchaCode" required name="CaptchaCode" placeholder="Enter Captcha" aria-describedby="sizing-addon2">
                    <p class="warnings_p warnings_p2_320" ng-show="myForm.CaptchaCode.$touched && myForm.CaptchaCode.$invalid">Captcha Code cannot be empty</p>


                    <p class="bg-success warnings_p_320_info">A temporary password is sent on your email</p>
                    <p class="bg-warning warnings_p_320" ng-style="{'display': codeCheck}">Entered Code is not correct. Please Re-enter !</p>
                    <div class="btn_box">
                        <button type="button" ng-disabled="myForm.$invalid" ng-click="ResetPassword()" class=" btn btn-default btn_size_full button_round_zero ">
                            <i class=" fa fa-lock">
                            </i> Reset Your Password
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container footer_box">© 2016, All Rights Reserved.</div>
    </div>



    </div>




    <script type="text/javascript">

        $("head").append($("<link href='/Content/css/signup_styles.css' rel='stylesheet' />"));

    </script>
    
