<div ng-app="CRMApp" class="" ng-controller="SetPasswordController" >
    <div class="container-fluid top_header">
        <div class="container"><img src="/Content/images/main_logo2.png" alt="CRM-logo" border="0"></div>
    </div>
    <div class="container-fluid">
        <div class="container main_box">
            <form name="myForm">
                <div class="code-module effects" id="effects">
                    <h1><i class="fa fa-lock"></i> Set New Password</h1>


                    <input type="email" class="form-control input_border_min input_login_h style_320" placeholder="E-mail ID" ng-model="Email" name="Email" required aria-describedby="sizing-addon2">
                    <p class="warnings_p warnings_p2_320" ng-show="myForm.Email.$error.email">Not a valid e-mail address</p>
                    <p class="warnings_p warnings_p2_320" ng-show="myForm.Email.$touched && myForm.Email.$invalid && !myForm.Email.$error.email">Email cannot be empty</p>

                    <input type="text" class="form-control input_border_min input_login_h style_320" placeholder="Enter Temporary Password" ng-model="TempPass" name="TempPass" required aria-describedby="sizing-addon2">
                    <p class="warnings_p warnings_p2_320" ng-show="myForm.TempPass.$touched && myForm.TempPass.$invalid ">Temporary Password cannot be empty</p>
                    
                    <input type="password" class="form-control input_border_min input_login_h style_320" ng-pattern="regexPassword" ng-change="checkPass1()" placeholder=" enter new password" ng-model="Pass" name="Pass" required aria-describedby="sizing-addon2">
                    <p class="warnings_p warnings_p2_320" ng-show="myForm.Pass.$touched && myForm.Pass.$error.required " >New Password cannot be empty</p>
                    <p class="warnings_p warnings_p2_320" ng-show="myForm.Pass.$error.pattern">Password should contain atleast 6 characters having atleast 1 small letter, 1 capital letter, 1 number and 1 special character</p>

                    <input type="password" class="form-control input_border_min input_login_h style_320" ng-change="checkPass2()" placeholder=" confirm new password" ng-model="CPass" name="CPass" required aria-describedby="sizing-addon2">
                    <p class="warnings_p warnings_p2_320" ng-show="myForm.CPass.$touched && myForm.CPass.$invalid " >Confirm Password cannot be empty</p>
                    <p class="warnings_p warnings_p2_320" ng-style="{'display': passError}">Entered password did not match!</p>
                    
                    <!--<p class="bg-warning warnings_p_320" ng-style="{'display': codeCheck}">Entered Temporary Password is not correct. Please Re-enter !</p>-->
                    <div class="btn_box">
                        <button type="button" ng-disabled="myForm.$invalid || NotPassMatch" ng-click="SetPassword()" class="btn btn-default btn_size_full button_round_zero "><i class="fa fa-lock"></i> Reset Your Password</button>
                   </div>
                     </div>
            </form>
        </div>
        <div class="container footer_box">© 2016, All Rights Reserved.</div>
    </div>
</div>
<script type="text/javascript">

    $("head").append($("<link href='/Content/css/signup_styles.css' rel='stylesheet' />"));

</script>